{% extends "base.html" %}
{% block title %} Homepage FILMS {% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>
                Bonjour Monsieur Maccod, ce projet a été réalisé avec le plus grand soin. Cliquez pour accéder à mon GitHub.
            </h2>

            <h3>
                Dans mon projet, il y a le fichier README.md qui vous explique comment fonctionne mon projet.
            </h3>

            <div class="btn-group" role="group">
                <a href="https://github.com/Bilaljanir/JANIR_BILAL_DEVA1_BUDGETS_164_2024" class="btn btn-primary" role="button">
                    Liens de mon GitHub
                </a>

                <a href="https://github.com/Bilaljanir/JANIR_BILAL_DEVA1_BUDGETS_164_2024/blob/main/README.md" class="btn btn-secondary" role="button">
                    Accéder au README.md
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
